.navbar{
    background-color: rgb(6, 6, 42);
}

.logo{
    color: white;
    font-size: 25px;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    gap: 30px;
    margin-right: 20px;
    align-items: center;
    display: flex;
}

.nav-links li a{
     text-decoration: none;
     color: white;
}

.dlt-btn{
    background-color: rgb(6, 6, 42);
    border: none;
    color: white;
}